@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

.kesho-phone-input .PhoneInputInput {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  min-width: 0;
}
